{% block body %}
    <h1>OrderItems</h1>
    <div class="col-6">
        <table class="table table-dark table-hover table-striped">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ order_item.id }}</td>
                </tr>
                <tr>
                    <th>Order_id</th>
                    <td>{{ order_item.orderId }}</td>
                </tr>
                <tr>
                    <th>Product_id</th>
                    <td>{{ order_item.productId }}</td>
                </tr>
                <tr>
                    <th>Quantity</th>
                    <td>{{ order_item.quantity }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('order_items_index') }}"><button type="button" class="btn btn-dark mb-1">Back to list</button></a>

        <a href="{{ path('order_items_edit', {'id': order_item.id}) }}"><button type="button" class="btn btn-dark mb-1">Edit</button></a>

        {{ include('order_items/_delete_form.html.twig') }}
    </div>
{% endblock %}
