<div class="weather">
    <h1>Dąbrowa Górnicza - pogoda</h1>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Temperatura: {{ temperature }}</li>
        <li class="list-group-item">Odczuwalna temperatura: {{ apparentTemperature }}</li>
        <li class="list-group-item">Wilgotność: {{ humidity }}%</li>
        <li class="list-group-item">Ciśnienie: {{ pressure }}hPa</li>
        <li class="list-group-item">Prędkość wiatru: {{ windSpeed }}m/s</li>

        <li class="list-group-item">Szerokość geograficzna: {{ latitude }}</li>
        <li class="list-group-item">Długość geograficzna: {{ longitude }}</li>
        <li class="list-group-item">Strefa czasowa: {{ timezone }}</li>
    </ul>
</div>