<div id="contributors-container">
    <h1>O Twórcach</h1>
    <div class="text-center pt-5">
        <p>Jesteśmy grupą studentów których łączy zamiłowanie do programowania. Wspólnie tworzymy grę 3D którą planujemy wydać na androida oraz stronę internetową dla klienta prowadzącego Hotel.</p>
    </div>
    <div class="card-columns pt-5">
    {%  for key in people %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ key.name }}</h5>
                <p class="card-text">{{ key.role }}</p>
                <p class="card-text">Nr indeksu: {{ key.number_wu }}</p>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-{{ key.id }}"><i class="material-icons">expand_more</i>Więcej</button>
            </div>
        </div>
        <div class="modal fade" id="modal-{{ key.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel-{{ key.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel-{{ key.id }}">{{ key.name }} - {{ key.role }}</h5>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <img src="{{ key.img }}" alt="{{ key.name }} - zdjecie" class="img-fluid">
                        </div>
                        <div class="text-center px-2 pt-3">
                            <p>{{ key.description }}</p>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
