<div class="out-page">
    <h1>Receive goods</h1>
    <div class="col-4">
        <div>
            <br />
        </div>
        <div>
            <div>
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('failure') %}
                    <div class="alert alert-danger">
                        {{ message }}
                    </div>
                {% endfor %}
                {% form_theme form 'bootstrap_4_layout.html.twig' %}
                {{ form_start(form) }}
                {{ form(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>