<div class="replace-page">
    <h1>Swap goods</h1>
    <div class="col-4">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('failure') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form(form) }}
        {{ form_end(form) }}
    </div>
</div>
