{% block body %}
        <table  class="table table-dark table-hover table-striped" id="history-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Operation Type</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Operation Date</th>
            </tr>
            </thead>
            <tbody>
            {% for row in history %}
                <tr>
                    <td>{{ row.id }}</td>
                    <td>{{ row.operationType }}</td>
                    <td>{{ row.productName }}</td>
                    <td>{{ row.productQuantity }}</td>
                    <td>{{ row.operationDate|date('Y-m-d h:i:s')}}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
