{% block body %}
    <h1>Warehouses</h1>

    <a href="{{ path('warehouses_new') }}"><button type="button" class="btn btn-dark mb-2">Create new</button></a>
    <table class="table table-dark table-hover table-striped" id="warehouses-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for warehouse in warehouses %}
            <tr>
                <td>{{ warehouse.id }}</td>
                <td>{{ warehouse.name }}</td>
                <td>
                    <a href="{{ path('warehouses_show', {'id': warehouse.id}) }}"><button type="button" class="btn btn-dark mb-1">Show</button></a>
                    <a href="{{ path('warehouses_edit', {'id': warehouse.id}) }}"><button type="button" class="btn btn-dark mb-1">Edit</button></a>
                    {{ include('warehouses/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
